<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="distill-article-specific-styles">
    <%=require("../static/styles.css") %>
  </style>
  <script src="https://distill.pub/template.v2.js"></script>
</head>

<body>

  <d-front-matter>
    <script type="text/json">
      <%= JSON.stringify(require("./frontmatter.json"), null, 4) %>
    </script>
  </d-front-matter>

  <d-title>
    <h1>Communicating Complex Ideas with Interactive Articles</h1>
    <p>Examining the design of interactive articles by synthesizing theory from disciplines such as education,
      journalism, and visualization.</p>
  </d-title>

  <d-article>

    <style>
      .tk {
        color: red;
      }
    </style>

    <!-- INTRO -->

    <ul>
      <li>Communication is incredibly important, especially with complex topics (e.g. science, politics, machine
        learning)
      </li>
      <li>Computers have an important role to play: (short historical examples)</li>
      <ul>
        <li>Using computational media to communicate complex ideas can be more engaging (active learning), attract
          broader
          readership, and acclaim; include some of the most well-known examples</li>
        <li>Plato, PHeT, explorable explanations (choose 3 examples)</li>
      </ul>
      <li>Who is making this media?</li>
      <ul>
        <li>Combination and blending of different communities coming together</li>
        <li>Journalists, researchers, game developers, academics, web developers, designers</li>
        <ul>
          <li>Sprinkle in how it helps their particular audiences, e.g.:</li>
          <ul>
            <li>Journalists: make complex news simple and engaging</li>
            <li>Researchers: avoid research debt</li>
            <li>Educators: provide alternative learning format to give students hands-on experience with material</li>
          </ul>
        </ul>
        <li>No standardized name: brief list of other names interactive writing has gone by</li>
      </ul>
      <li>There is growing excitement around interactive writing, to help people fully take advantage of this new
        medium, we
        want to:</li>
      <ul>
        <li>Describe design space and affordances of interactive writing with accompanying examples (many of which are
          accessible via the web)</li>
        <li>Discuss some application domains where interactive writing has already been successfully used, and others
          where
          we think it could have future impact</li>
      </ul>
    </ul>

    <p>
      [borrowed text from parametric about we could use]
    </p>
    <p>
      Past aspirations for the future of computing centered around empowering individuals and enhancing cognition, but
      many of
      these ideas fell to the wayside during the wildfire spread of internet connectivity and the commodification of
      publishing through platforms like WordPress and Facebook.
    </p>

    <p>
      Alan Kay imagined the Dynabook in the hands of children across the world, while Neal Stephenson wrote of
      interactive
      paper that could display videos and interfaces, and books that could teach their readers.
    </p>

    <p>Cite hypertext in intro</p>

    <p>Survey in practice, tie back to theory</p>



    <div id="research-x-practice" style="width: 100%"></div>

    <!-- <d-figure id="svelte-example-dfigure">
      <figure>
        <div id="svelte-example-target"></div>
        <figcaption>And a static figcaption. You can use citations<d-cite key="mercier2011humans"></d-cite> in this
          figcaption, but not in text added by javascript.</figcaption>
      </figure>
    </d-figure> -->

  </d-article>



  <d-appendix>
    <h3>Acknowledgments</h3>
    <p>
      We are deeply grateful to <span class="tk">{people}</span>.
      <span class="tk">Thank Parametric editors + authors.</span>
      This work was supported in part by a NASA Space Technology Fellowship.
    </p>

    <p>
      <span class="tk">Many of our diagrams are based on...</span>
    </p>

    <h3>Author Contributions</h3>
    <p>
      <b>Research:</b> <span class="tk">{Authors} developed ...</span>
    </p>

    <p>
      <b>Writing & Diagrams:</b> <span class="tk">The text was initially drafted by...</span>
    </p>


    <d-footnote-list></d-footnote-list>
    <d-citation-list></d-citation-list>
  </d-appendix>

  <!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
  <d-bibliography src="bibliography.bib"></d-bibliography>

</body>